body, html {
    height: 100%;
    color: #000;
    background-color: #F7F7F7;
  }
  
 
  .container-background {
   
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-repeat: no-repeat;

  }
  
  .card-style {
    background-color: #ffffff05;
  }
  .buttons_links{
      background-color: #EFF5F5;
  }
  
  .button-class {
    margin: 20px;
  }
  
  .container-row {
    align-items: center;
  }
  
  .vis-container {
    padding: 2.5%;
  }
  
  .subContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: baseline;
  }
  
  .author-row {
    display: flex;
    flex-direction: row;
  }
  
  .author {
    padding: 8px;
    color: #000;
  }
  
  .cus-span {
    font-weight: bold;
    font-size: large;
  }
  
  .cus-span-val {
    font-weight: 500;
    font-style: italic;
  }
  
  .bubbleGroup {
    margin: 20px;
  }
  
  .focus circle {
    fill: steelblue;
  }
  
  .focus text {
    font-size: 14px;
  }
  
  .vis-tooltip {
    fill: white;
    stroke: #000;
  }
  
  .tooltip-date,
  .tooltip-sales {
    font-weight: bold;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  body{
      color: #000;
  }
  .author{
      font-size: 15px;
  }
  
  .container-background {
    background-color: #FAF7F0;

  }