.rowDivision {
    width: 1500px;
    height: 700px;
}

.chart{
    width: 700px;
    height: 600px;
}

.sorting {
    background: black;
    color: white;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: #d1d1d1;
}

.sortable.sorting:hover {
    background: #232323;
}

.chart .right {
    stroke: white;
    fill: indianred;
}

.chart .left {
    stroke: white;
    fill: steelblue;
}

.chart rect:hover {
    fill: #64707d;
}

.chart text {
    fill: #24da82;
}

.chart text.name {
    fill: black;
}

.chart text.title {
    fill: #2216ff;
}