.tilesDivision {
    width: 1500px;
    height: 300px;
}

.rowDivision {
    width: 1400px;
    height: 700px;
}

.csk {
    fill: #FFFF00;
}

.dc {
    fill: #191970;
}

.gt {
    fill: #87CEEB
}

.kkr {
    fill: #4B0082
}

.lsg {
    fill: #00FFFF
}

.mi {
    fill: #0000FF
}

.pk {
    fill: #FF0000
}

.rcb {
    fill: #8B0000
}

.rr {
    fill: #FF1493
}

.srh {
    fill: #FF8C00
}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar {
    width: 100%;
    float: left;
    position: fixed;
    margin: 0 0 1em 0;
    top: 0;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

#navbar ul {
    list-style: none;
    width: 750px;
    margin: 0 auto;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}

#navbar li:first-child a {
    border-left: 1px solid #ccc;
}

#navbar li a:hover {
    color: black;
    background-color: #fff;
}

.nav-item.active {
    color: white;
}

.tooltip {
    position: absolute;
    text-align: left;
    min-width: 70px;
    min-height: 10px;
    font: 12px sans-serif;
    padding: 3px;
    background: #eeeeee;
    stroke: gray;
    border-radius: 3px;
    pointer-events: none;
}